# --- Railway eTicket ---
# eticket.railway.uz saytidagi email va parol
RAILWAY_USERNAME=
RAILWAY_PASSWORD=

# --- Telegram ---
# @BotFather dan olingan bot token
TELEGRAM_BOT_TOKEN=

# Xabar yuboriladigan chat ID (@userinfobot dan oling)
TELEGRAM_CHAT_ID=
